html, body
{
     margin: 0;
    padding: 0;

    font-family: monospace;
    font-size: 25px;
    background-color: rgb(75, 75, 75);
}

body
{
    padding: 25px;
}

div
{
    display: block;
    background-color: rgb(45, 45, 50);

    padding: 15px;

       margin-top: 15px;
    margin-bottom: 15px;

     margin-left: 15px;
    margin-right: 15px;
}

.CODE { color:rgb(255, 255, 100); }
.USER { color:rgb(150, 150, 255); }

.LOCAL { color:rgb(40, 225, 100); }
.QUERY { color:rgb(220, 45, 255); }

.REPORT { color:rgb(255, 140, 0); }